# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages.lock.json

# Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.sln.ide/

# Rider
.idea/
*.sln.iml

# macOS
.DS_Store

# Android
*.apk
*.aab
local.properties


# classdata.tpk (must be downloaded separately)
*.tpk

# Test outputs
TestResults/
